@use "@angular/material" as mat;
@use "src/styles" as theme;

mat-card.trip {
  width: 600px;
  min-width: 400px;
  height: auto;
}

mat-card-content.trip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

mat-form-field.form-field {
  padding-bottom: 10px;
}

#home-component,
form {
  width: 100%;
  height: auto;
}

#home-component {
  flex-direction: column;
  padding: 50px 0;
}

#home-component,
form,
#card-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

#card-title {
  width: 100%;
  height: auto;
  font-size: 24px;
  margin: 20px 0;
  padding: 10px 0;
  background-color: mat.get-color-from-palette(theme.$accent);
}

#trip-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 0 50px;
}

#submit-button {
  margin-top: 15px;
}

#back-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  padding-top: 20px;
}

.day-card,
.section,
.time-of-day {
  display: flex;
  flex-direction: column;
}
.container-time-of-the-day {
  display: flex;
  flex-direction: row;
  padding: 5px 0;
}

.dates,
.people,
.cities,
.flight-details-item,
.cost-item {
  font-weight: bolder;
  padding: 3px 0;
}

.day-number {
  font-weight: bolder;
  padding: 3px 0 10px 0;
}

.cost,
.flight-details {
  font-weight: bolder;
  padding: 10px 0;
}

.time-of-day {
  padding-right: 20px;
  min-width: 120px;
}

.day-card {
  padding-top: 20px;
}

.intro,
.closing-feeling {
  margin-top: 10px;
}
