<div id="home-component" class="component">
  <form [formGroup]="form" (ngSubmit)="loadTrip()" autocomplete="off" *ngIf="!tripInformation">
    <mat-card>
      <mat-card-title id="card-title">Plan your flight</mat-card-title>
      <mat-card-content>
        <mat-form-field appearance="outline">
          <mat-label>From city</mat-label>
          <input matInput formControlName="fromCity" />
          <mat-error
            *ngIf="
              form.get('fromCity')?.hasError('required') &&
              form.get('fromCity')?.touched
            "
          >
            City is required.
          </mat-error>
          <mat-error
            *ngIf="
              form.get('fromCity')?.hasError('maxlength') &&
              form.get('fromCity')?.touched
            "
          >
            City must be between 1 and 50 characters.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>To city</mat-label>
          <input matInput formControlName="toCity" />
          <mat-error
            *ngIf="
              form.get('toCity')?.hasError('required') &&
              form.get('toCity')?.touched
            "
          >
            City is required.
          </mat-error>
          <mat-error
            *ngIf="
              form.get('toCity')?.hasError('maxlength') &&
              form.get('toCity')?.touched
            "
          >
            City must be between 1 and 50 characters.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Travel dates</mat-label>

          <div formGroupName="dateRange" id="container-date-range">
            <mat-date-range-input [rangePicker]="picker">
              <input
                matStartDate
                formControlName="start"
                placeholder="Start date"
              />
              <input matEndDate formControlName="end" placeholder="End date" />
            </mat-date-range-input>
          </div>

          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Travelers</mat-label>

          <input
            matInput
            type="number"
            formControlName="numberOfTravelers"
            min="1"
            max="10"
          />

          <mat-error
            *ngIf="
              form.get('numberOfTravelers')?.hasError('required') &&
              form.get('numberOfTravelers')?.touched
            "
          >
            Please select number of travelers.
          </mat-error>

          <mat-error
            *ngIf="
              form.get('numberOfTravelers')?.hasError('min') ||
              form.get('numberOfTravelers')?.hasError('max')
            "
          >
            Number of people must be between 1 and 10.
          </mat-error>
        </mat-form-field>
        <div id="submit-button-container">
          <button
            id="submit-button"
            mat-raised-button
            color="accent"
            type="submit"
          >
            Ok
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
<div id="trip-container" *ngIf="tripInformation">

  <div>
    <div class="cities">
      {{ tripInformation.originCity }} → {{ tripInformation.destinationCity }}
    </div>
  </div>

  <div>
    <div class="dates">
      {{ tripInformation.fromDepartureDate }} - {{ tripInformation.toDepartureDate }}
    </div>

    <div class="people">
      👥 {{ tripInformation.numberOfPeople }} traveler(s)
    </div>

    <div class="cost">
      {{ tripInformation.approximateTripCost }}
    </div>
  </div>

  <div class="day-card" *ngFor="let day of days">

    <div class="day-number">Day {{ day.dayNumber }}</div>

    <div class="section">

      <div class="container-time-of-the-day">

        <div class="time-of-day">🌅 Morning</div>
        <div class="time-of-day-text">
          {{ day.morningPlan }}
        </div>

      </div>

      <div class="container-time-of-the-day">

        <div class="time-of-day">☀️ Afternoon</div>
        <div class="time-of-the-day-text">
          {{ day.afternoonPlan }}
        </div>

      </div>

      <div class="container-time-of-the-day">

        <div class="time-of-day">🌙 Evening</div>
        <div class="time-of-the-day-text">
          {{ day.tonightPlan }}
        </div>

      </div>

    </div>
  </div>

  <div id="back-button-container">
    <button
      id="back-button"
      mat-raised-button
      color="accent"
      (click)="resetTrip()"
    >
      Plan another trip
    </button>
  </div>

</div>