@use "@angular/material" as mat;
@use "src/styles" as theme;

#container-plan-trip {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 400px;
  height: 740px;
  padding: 70px 20px 20px 20px;
  background-color: gainsboro;
}

#form-component {
  display: flex;
  width: 100%;
  justify-content: center;
}

#form-component-text {
  display: flex;
  flex-direction: column;
  height: auto;
  text-align: center;
  padding: 20px 0;
  color: mat.get-color-from-palette(theme.$accent);
}

#card-title {
  display: flex;
  justify-content: center;
  width: 400px;
  height: 100%;
  padding: 10px 0;
  margin: 30px 0;
  color: white;
  background-color: mat.get-color-from-palette(theme.$accent);
}

mat-card-content.trip {
  display: flex;
  flex-direction: column;
}

mat-form-field.form-field {
  padding: 5px 0;
}

#submit-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

#submit-button {
  display: flex;
  width: 250px;
}

#loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 400px;
  background-color: white;
}

#loader-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: mat.get-color-from-palette(theme.$accent);
  margin-top: 100px;
}

#container-how-it-works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 240%;
  min-height: 1600px;
  min-width: 400px;
  background-color: mat.get-color-from-palette(theme.$accent);
}

#how-it-works-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 400px;
  height: auto;
  padding: 0 20px;
  background-color: mat.get-color-from-palette(theme.$accent);
}

#how-it-works-title-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  padding-top: 20px;
  color: white;
  background-color: mat.get-color-from-palette(theme.$accent);
}

#container-how-it-works-section-1,
#container-how-it-works-section-2,
#container-how-it-works-section-3,
#container-how-it-works-section-4 {
  display: flex;
  width: 365px;
  height: 365px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 30%;
}

#container-how-it-works-section-1,
#container-how-it-works-section-2,
#container-how-it-works-section-3 {
  margin: 10px;
}

#container-how-it-works-section-4 {
  margin: 10px 10px 0 10px;
  padding-bottom: 10px;
}

#container-how-it-works-section-1 {
  margin: 10px 0;
  background-image: url(../../../../assets/home/how_it_works_1.png);
}

#container-how-it-works-section-2 {
  background-image: url(../../../../assets/home/how_it_works_2.png);
}

#container-how-it-works-section-3 {
  background-image: url(../../../../assets/home/how_it_works_3.png);
}

#container-how-it-works-section-4 {
  background-image: url(../../../../assets/home/how_it_works_4.png);
  margin-bottom: 30px;
}

.title {
  font-size: 24px;
  font-weight: bolder;
}

.subtitle {
  font-size: 16px;
}

.accent {
  color: mat.get-color-from-palette(theme.$accent);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  #container-plan-trip {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../../../assets/home/home_background.png);
  }

  #form-component-text {
    display: flex;
    width: 100%;
    height: 15%;
    margin: 0;
    padding: 20px 0 0 0;
  }

  #form-component {
    display: flex;
    width: 100%;
  }

  #container-how-it-works {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-height: 0;
  }

  #how-it-works-image-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }

  #container-how-it-works-section-1,
  #container-how-it-works-section-2,
  #container-how-it-works-section-3,
  #container-how-it-works-section-4 {
    width: 400px;
    height: 400px;
    margin: 25px;
  }

  #loader-container {
    justify-content: baseline;
    padding: 0;
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  #container-plan-trip {
    flex-direction: row;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../../../assets/home/home_background.png);
  }

  #form-component-text {
    display: flex;
    padding-top: 150px;
    width: 50%;
    height: 100%;
  }

  #form-component {
    display: flex;
    width: 50%;
  }

  #container-how-it-works {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-height: 0;
  }

  #how-it-works-image-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }

  #container-how-it-works-section-1,
  #container-how-it-works-section-2,
  #container-how-it-works-section-3,
  #container-how-it-works-section-4 {
    width: 400px;
    height: 400px;
    margin: 25px;
  }
  #loader-container {
    justify-content: baseline;
    padding: 0;
    margin: 0;

  }
}
